.progress class="#{direction}-stage-health"
  .progress-bar.progress-bar-success.progress-bar-striped.active role="progressbar" aria-valuenow="#{value}" aria-valuemin="0" aria-valuemax="100" style="width: #{value}%"
    span class="sr-only" #{value}% rest..
