$bg-width: 1170px;
$bg-height: 481px;

$hero-width: 250px;
$hero-height: 250px;

.battlefield {
//background-color: red;
}

.question {
//  width: $bg-width;
//  height: $bg-height;
}

.stage {
  .bg_1 {
    z-index: 1;
    background-image: image-url('backgrounds/bg_1.gif');
    background-size: contain;
    position: relative;
    display: block;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: $bg-width;
    height: $bg-height;
  }
}

// heroes
.hero-guy {
  background-image: image-url('heroes/guy/walk.png');
  width: $hero-width;
  height: $hero-height;
  position: absolute;
  bottom: 80px;
  z-index: 2;

  animation: play .6s steps(6) infinite;

  @-webkit-keyframes play {
     from { background-position:    0px; }
       to { background-position: -1500px; }
  }

  @-moz-keyframes play {
     from { background-position:    0px; }
       to { background-position: -1500px; }
  }

  @-ms-keyframes play {
     from { background-position:    0px; }
       to { background-position: -1500px; }
  }

  @-o-keyframes play {
     from { background-position:    0px; }
       to { background-position: -1500px; }
  }

  @keyframes play {
     from { background-position:    0px; }
       to { background-position: -1500px; }
  }
}

