$bg-width:  1170px;
$bg-height: 481px;

.battlefield {
  background-color: red;
}

.question {
  width: $bg-width;
  height: $bg-height;
}

.stage {
  .bg_1 {
    z-index: 1;
    background-image: image-url('backgrounds/bg_1.gif');
    background-size: contain;
    position: absolute;
    display: block;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    margin: auto;
    width: $bg-width;
    height: $bg-height;
  }
}
