$bg-width: 1170px;
$bg-height: 481px;

$hero-width: 250px;
$hero-height: 250px;

.battlefield {
//background-color: red;
}

.question {
//  width: $bg-width;
//  height: $bg-height;
}

.stage {
  .bg_1 {
    z-index: 1;
    background-image: image-url('backgrounds/bg_1.gif');
    background-size: contain;
    position: relative;
    display: block;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: $bg-width;
    height: $bg-height;
  }
}

// heroes

.flip { transform: scaleX(-1); }

.hero-guy {
  background-image: image-url('heroes/guy/walk.png');
  position: absolute;
  bottom: 80px;
  z-index: 2;
  width: $hero-width;
  height: $hero-height;
}

@mixin animate-hero($image) {
  width: $hero-width;
  height: $hero-height;
  background-image: image-url($image);
  animation: play .6s steps(6) infinite;

  @keyframes play {
    from { background-position: 0px; }
      to { background-position: -1500px; }
  }
}

.hero-guy.walk {
  @include animate-hero('heroes/guy/walk.png');
}

.hero-guy.punch {
  @include animate-hero('heroes/guy/punch.png');
}

.hero-guy.win {
  @include animate-hero('heroes/guy/win.png');
}

.hero-guy.low_punch {
  @include animate-hero('heroes/guy/low_punch.png');
}

.hero-guy.jump {
  @include animate-hero('heroes/guy/jump.png');
}

.hero-guy.hurt {
  @include animate-hero('heroes/guy/hurt.png');
}

.hero-guy.fatality {
  @include animate-hero('heroes/guy/fatality.png');
}

.hero-guy.die {
  @include animate-hero('heroes/guy/die.png');
}
